
<div class="max-w-96 p-5 mx-auto my-20 bg-fuchsia-400">
  <!-- <button class="w-full p-10 bg-violet-500 hover:bg-violet-600 active:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-300">
    Save changes
  </button> -->
  <h2 class="text-2xl text-center">Registro de usuário</h2>
  <div>
    <label class="block" name="nome">Nome</label>
    <input class="w-full" type="text" name="nome" placeholder="Digite seu nome">
  </div>
  <div>
    <label class="block" for="email">E-mail</label>
    <input class="w-full" type="email" name="email" placeholder="Digite seu e-mail">
  </div>
  <div class="flex">
    <div class="w-1/2 mr-2">
      <label class="block" name="uf">UF</label>
      <select class="w-full">
        @for (estado of estados; track estado) {
          <option value="{{ estado }}">{{ estado }}</option>
        }
      </select>
    </div>
    <div class="w-1/2">
      <label class="block" name="genero">Gênero</label>
      <select class="w-full">
        @for (genero of generos; track genero) {
          <option value="{{ genero }}">{{ genero }}</option>
        }
      </select>
    </div>
  </div>
</div>










<!-- <form class="max-w-xl mx-auto my-10">
  <div class="mb-5">
    <label
      for="email"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Your email</label
    >
    <input
      type="email"
      id="email"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="name@flowbite.com"
      required
    />
  </div>
  <div class="mb-5">
    <label
      for="password"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Your password</label
    >
    <input
      type="password"
      id="password"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      required
    />
  </div>
  <div class="flex items-start mb-5">
    <div class="flex items-center h-5">
      <input
        id="remember"
        type="checkbox"
        value=""
        class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
        required
      />
    </div>
    <label
      for="remember"
      class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
      >Remember me</label
    >
  </div>
  <button
    type="submit"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  >
    Submit
  </button>
</form> -->
