<form onsubmit="login()">
    <div class="username">
        <label>Username </label>
        <input id="username" type="text" placeholder="username">
    </div>
    
    <div class="password">
        <label>Password </label>
        <input id="password" type="password" placeholder="passoword">
    </div>

    <div>
        <label>
            <input type="checkbox" name="remember"> Remember me
        </label>
        <a routerLink="/password/new">
            Forgot your passowrd?
        </a>
    </div>
        
    <button class="submit-button" type="submit">Sing in</button>
</form>


