/* Bordered form */

form {
    border: 3px solid #f1f1f1;
    display: inline-block;
    text-align: center;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.username, .password {
    text-align: center;
}

button {
    width: 100%;
}